@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ueo6am');
  src:  url('fonts/icomoon.eot?ueo6am#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ueo6am') format('truetype'),
    url('fonts/icomoon.woff?ueo6am') format('woff'),
    url('fonts/icomoon.svg?ueo6am#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
  content: "\e971";
}
.icon-key:before {
  content: "\e98d";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-star-empty:before {
  content: "\e9d7";
}
.icon-star-half:before {
  content: "\e9d8";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-mail4:before {
  content: "\ea86";
}
